## chapter. 02 딕셔너리와 반복문

In [ ]:
# 딕셔너리 선언 : {키:값, ...}  /// 리스트 : [값,...]

dict_a = {'name':'홍길동', 'age' : 30}

print(dict_a)
print(type(dict_a))

In [ ]:
name = '키'

In [ ]:
dict_b = {name:10}

In [ ]:
dict_b

In [ ]:
# 딕셔너리에 값 추가 / 제거하기 : 딕셔너리[키] = 값
# 삭제는 del 딕셔너리[키]
dict_a['title']=' 딕셔너리 '
dict_a

In [ ]:
del dict_a['name']
dict_a

In [ ]:
# list_a = []
# list_a.append()

#dict_c = {}
#dict_c['키'] = 값

In [48]:
# 키보드에서 이름과 성적을 입력받아 이름을 키로
# 성적을 값으로 딕셔너리에 저장
#이름에 'q'가 입력되면 입력 종류
#저장된 자료를 출력

score_dict = {}
while True:
    name = input("이름 입력 :")
    if name == 'q':
        print("입력 종료")
        break
    score  = int(input("점수 입력 :"))
    score_dict[name] = score
    
print(score_dict)

이름 입력 :1
점수 입력 :1
이름 입력 :a
점수 입력 :1
이름 입력 :b
점수 입력 :2
이름 입력 :c
점수 입력 :3
이름 입력 :d
점수 입력 :4
이름 입력 :e
점수 입력 :5
이름 입력 :f
점수 입력 :6
이름 입력 :g
점수 입력 :7
이름 입력 :h
점수 입력 :8
이름 입력 :i
점수 입력 :9
이름 입력 :j
점수 입력 :10
이름 입력 :h
점수 입력 :11
이름 입력 :
점수 입력 :10
이름 입력 :q
입력 종료
{'1': 1, 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 11, 'i': 9, 'j': 10, '': 10}

In [25]:
# 키가 존재하는지 확인 : key in 딕셔너리 -> 딕셔너리의 키에
#key가 있는지 확인

print('a' in score_dict)
print('name' in score_dict)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# 검색하고자 하는 이름을 입력 받아 입력된 자료에 존재하면
# 이름과 성적 출력
# 존재하지 않으면 '존재하지 않는 이름'이라고 출력

In [52]:
input_name = input("이름을 입력하세요.: ")
if input_name in score_dict:
    print("{}의 성적은 {}입니다.".format(input_name, score_dict[input_name]))
else:
    print("존재하지 않는 이름입니다.")

이름을 입력하세요.: b
b의 성적은 2입니다.

In [57]:
# 키의 값이 있는지 확인하는 함수 : 딕셔너리.get(키) -> 값을 반환
search_name = input("검색할 이름 : ")
value = score_dict.get(serch_name)
if value:
    print("{}의 성적은 {}입니다.".format(serach_name, value))
else:
    print("{}의 자료는 없습니다.".format(search_name))

검색할 이름 : asdf
asdf의 자료는 없습니다.

In [58]:
# for 반복문과 같이 사용 : fore key in dict:
# for 문을 사용하여 딕셔너리의 자료 출력
for key in score_dict:
    print(f"{key} : {score_dict[key]}")

1 : 1
a : 1
b : 2
c : 3
d : 4
e : 5
f : 6
g : 7
h : 11
i : 9
j : 10
 : 10

In [ ]:
#딕셔너리의 키와 값을 동시에 가져오는 함수 : 딕셔너리.items()
for key, value in score_dict.items():
    print(f"{key} : {value}")
score_dict.keys()
score_dict.values()

In [66]:
# 이름과 국어, 영어, 수학 성적을 입력 받아 딕셔너리에 저장
# students -> 국,영,수 성적 , 이름을 키로
# 학생별로 성적의 총합, 평균을 출력
# 전체 학생의 인원수, 과목별 평균

students = {}

while True:
    input_name = input("학생의 이름을 입력하세요 :")
    if input_name == 'q':
        print("입력 종료")
        break
    
    input_g = input("{}의 국어 성적을 입력하세요.".format(input_name))
    input_e = input("{}의 영어 성적을 입력하세요.".format(input_name))
    input_s = input("{}의 수학 성적을 입력하세요.".format(input_name))
    # ----------------- input의 내용은 학생의 이름 입력 -----------------

학생의 이름을 입력하세요 :간나새기
간나새기의 국어 성적을 입력하세요.100
간나새기의 영어 성적을 입력하세요.2
간나새기의 수학 성적을 입력하세요.95
학생의 이름을 입력하세요 :괴뢰군
괴뢰군의 국어 성적을 입력하세요.100
괴뢰군의 영어 성적을 입력하세요.1
괴뢰군의 수학 성적을 입력하세요.98
학생의 이름을 입력하세요 :김정은
김정은의 국어 성적을 입력하세요.7
김정은의 영어 성적을 입력하세요.0
김정은의 수학 성적을 입력하세요.3
학생의 이름을 입력하세요 :q
입력 종료

In [81]:
a = range(5)

a

list(range(0,10,2))

list(range(3,10,3))

[3, 6, 9]

In [86]:
# 구구단 range()

x = 2
y = 1
for x in range(2,10):
    for y in range(1,10):
        print(x,'*',y,"=", x*y)
        if y == 9:
            print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [102]:
# 0 부터 100까지의 수 중 5의 배수만 출력
line_cnt = 0
for i in range(0,101,5):
    line_cnt += 1
    if line_cnt %5 == 0:
        print(i)
    else:
        print(i,end='\t')
        
        
print(list(range(0, 101, 5)))

0	5	10	15	20
25	30	35	40	45
50	55	60	65	70
75	80	85	90	95
100	[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [103]:
# 1.키보드에서 이름을 입력받아 'q'가 입력되면 입력 종료
#  종료가 되지 않으면 국어 영어 점수를 입력받아 저장
#  입력 받은 점수의 갯수가 2가 아니거나 숫자가 아니며 다시 입력
# 2.입력 종료 후 검색하고자 하는 이름을 입력 받아
#  검색 된 이름의 성적과  총점, 평균 출력
#  3.총 입력된 학생의 인원수 출력
#  4.전체 학생의 성적의 합게를 기존의 자료에 추가
#  5.을 받은 학생의 정보 출력

In [121]:
student = {}
while True:
    name = input('이름 입력: ')  #name = '이름입력'
    if name == 'q':
        print('입력 종료')
        break
    scores = input("국어 영어 수학 점수 입력. ").split() #scores = '국어 영어 수학 점수 입력'
    if len(scores) !=3 :
        continue
    score_list = [] # score_list = '[]'
    for score in scores:
        score_list.append(int(score)) #score_list = '[]', score => scores = '국어 영어 수학 점수 입력'
    student[name] = score_list # = {name[score, score, score]}
student

이름 입력: a
국어 영어 수학 점수 입력. 95 77 98
이름 입력: b
국어 영어 수학 점수 입력. 77 98 60
이름 입력: c
국어 영어 수학 점수 입력. 96 97 96
이름 입력: q
입력 종료

{'a': [95, 77, 98], 'b': [77, 98, 60], 'c': [96, 97, 96]}

In [139]:
student = {}
while True:
    name = input("이름 입력 : ") #name = '이름입력'
    if name == 'q':
        print("입력 종료")
        break
    
    scores = input("국어 영어 점수 입력: ") # scores = '국어 영어 점수 입력'
    score_list = [] # = []
    for score in scores:# 변수 in '국어 영어 점수 입력'
        if score.isnumeric(): #'국,영,수 점수입력.입력한 자료가 정수인지 확인'
            score_list.append(int(score)) # []안에 score 삽입, (국,영 점수 입력)
        else:
            break
    if len(score_list) != 2 : # 국어,영어의 길이를 확인하고 2와 같지 않다면,
        continue
        
    student[name] = score_list #{name[이름입력]} = []
    
student

이름 입력 : 개쌔끼
국어 영어 점수 입력: 12 12
이름 입력 : q
입력 종료

{'개쌔끼': [1, 2]}

In [131]:
a = [1,2,3,4]
sum(a)

TypeError: 'list' object is not callable

In [141]:
search = input("이름: ")
if search in student: #
    print(f'{search} ',end=': ')
    for score in student[search]:
        print(f'{score}', end='\t')
    print("총점 : {}, 평균 : {:3.2f}".format(sum(student[search]),
                                        sum(studentt[search])/3))
else:
    print("자료 없음")
print()

이름: 개쌔끼
개쌔끼 : 1	2

TypeError: 'list' object is not callable

In [164]:
list_news = '''세종시장직 인수위원회가 운영 실적이 저조하거나 여건 변화에 따라 필요성이 없어진 각종 위원회를 통폐합한다고 밝혔습니다.

인수위 재정예산TF의 세종시 각종 위원회 설치 근거와 구성, 운영 실적 등에 대한 전수 조사 결과 현재 운영 중인 위원회는 243개, 위원 수는 4,875명으로 지난해 지급된 수당만 13억여원으로 나타났습니다.

인수위는 지난 1년간 회의를 한 차례도 개최하지 않거나 운영 실적이 저조한 "식물위원회"가 다수라면서 조례와 법령 개정을 통해 일괄 정비할 계획입니다

또한, 세종시 지방보조금 사업에 대한 현황도 조사해 내역을 투명하게 공개하겠다고 말했습니다.

지난해 기준 대전광역시 위원회 224개, 위원수 3,178명과 충남도 211개 위원회, 3,242명입니다.'''

In [165]:
list_news = list(list_news)
value = '\n'
while value in list_news:
        list_news.remove(value)
        
list_news = str(list_news)

In [ ]:
# python의 데이터 타입 : 문자, 숫자, 불리언

# 자료의 집합 : list -> [,.....], dictionary -> {키:값,.....}

#list[위치 인덱스], dict[키]

#자료 추가 : list.append(요소), dict[키] = 값

#자료 수정 : list[위치인덱스] = 값 , dict[키] = 값 (있으면 수정 없으면 추가)

#자료 삭제 : list.pop(), list.remove(값), del list[위치 인덱스]
#       del dict[키]

#반복문(for)과 같이 사용
# for value in list: -> 리스트에 각 요소가 value로 저장
# for key in dict: -> 딕셔너리에 각 요소가 key 로 저장

#for idx, value in enumerate(리스트) -> 위치(idx)와 값(value)이 저장
#for key, value in dict.items() ->키(key 변수)와 값(value)이 저장

# dict.get(키) -> 값이 반환

#while True 조건인 경우 실행

#반복문 탈출 키워드 : break 반복문 탈출, continue 반복문 조건식으로 이동

In [167]:
# 반복문에서 누적합 등을 구하고자 할 경우
# 초기화는 반복문 시작 전에
tot = 0
for i in range(11):
    tot += i
print("0부터 10까지의 합은 {}".format(tot))

0부터 10까지의 합은 55

In [170]:
while True:
    input_char = input("자료 입력 : q 또는 Q 입력시 종료.")
    if input_char in ['q','Q']:
        print("작업 종료.")
        break
    # or if input_char == 'q' or in put_char == 'Q'

자료 입력 : q 또는 Q 입력시 종료.Q
작업 종료.

In [176]:
#타임 모듈과 반복문 사용하기
import time

cnt = 0
t_time = time.time() + 3
while time.time() < t_time:
    cnt +=1
print("3초 동안 {}번 실행".format(cnt))

3초 동안 12116732번 실행

## chap4.4 문자열 리스트, 딕셔너리와 관련된 기본함수

In [180]:
# min(), max(), sum()
list_a = [10,30,40]
print(min(list_a))
print(max(list_a))
print(sum(list_a))

10
40

TypeError: 'list' object is not callable

In [185]:
list_str = ['asdf', 'test', 'overall']
print(min(list_str))
print(max(list_str))
print(sum(list_str))

asdf
test

TypeError: 'list' object is not callable

In [187]:
# 반복문을 사용한 리스트 생성
array = []
# 반복문을 사용하여 리스트 데이터 추가
for i in range(0,20,2):
    array.append(i*i)
print(array)

# 리스트 내포 : 리스트 선언안에 for 문장 사용
# [표현식 for 반복자 in 반복 할 수 있는 자료.]
array_1 = [ i*i for i in range(0,20,2) ]
array_1

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [188]:
# 리스트 내포 : 리스트 선언안에 for 문장 사용, 조건식과 같이 사용
# [표현식 for 반복자 in 반복 할 수 있는 자료. if 조건문]
array_1 = [i*i\
           for i in range(0,20)\
           if i %2 == 0]

array_1

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [195]:
# 문장이 길어질 때() 하나의 문장으로 인식하도록 함
number = int(input("정수 입력"))
if number % 2 == 0:
    print(("입력한 문자열은 {}입니다.\n"
         "{}는 짝수입니다")
         .format(number,number))

정수 입력9218842320115440887324328799212058579321199213278213578
입력한 문자열은 9218842320115440887324328799212058579321199213278213578입니다.
9218842320115440887324328799212058579321199213278213578는 짝수입니다

In [253]:
#문자열.split() = space로 분리
#리스트를 하나의 문자열로 전환
print(list_str)

# 리스트를 하나의 문자열로 연결 문자를'-'로 사용하려 함
join_str = '::'.join(list_str)

['asdf', 'test', 'overall']

In [254]:
split_list = join_str.split('::')
split_list

['asdf', 'test', 'overall']

1 : 1
a : 1
b : 2
c : 3
d : 4
e : 5
f : 6
g : 7
h : 11
i : 9
j : 10
 : 10

dict_values([1, 1, 2, 3, 4, 5, 6, 7, 11, 9, 10, 10])

In [50]:
#215p 4번

nums = list(range(1,10))

output = [[],[],[]]

for num in nums:
    output[num %3 -1].append(num)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [39]:
#259p 5번

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9,]

for i in range(0, len(numbers) // 2):
    j = (i *2 + 1)
    print(f"i = {i}, j = {j}")
    numbers[j] = numbers[j] ** 2
print(numbers)

i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]