In [ ]:
# 키워드 확인
import keyword

print(keyword.kwlist)

In [1]:
print("테스트") # 하나의 문자열 출력

테스트

In [5]:
print("test", 10, '20 + 30 = ', 20 +30)

test 10 20 + 30 =  50

In [8]:
print("test", 10, '20 + 30 = ', 20 +30, sep='\t')

test	10	20 + 30 = 	50

In [10]:
print("test", 10, '20 + 30 = ', 20 +30, sep='\t')
print('abcd')

test	10	20 + 30 = 	50
abcd

In [3]:
print("test", 10, '20 + 30 = ', 20 +30, sep='\t', end='#### ')
print('abcd')

test	10	20 + 30 = 	50#### abcd

In [4]:
# 키워드 import keword -> keyword.keylist 에서 확인 가능
# 식별자 : 문자  시작, 특수문자는 _만 가능, 숫자 시작 안됨, 공백 안됨, 키워드 안됨
# 식별자 작성 규칙 : carmel(클래스), snake type(함수, 변수) 두가지. 함수는()

## chapter 02 자료형
### 01. 자료형과 문자열

In [17]:
# python의 자료형은 문자열, 숙자, 불 타입 세가지가 존재
print('문자열의 데이터 타입 : ', type('문자열'))
print('숫자의 데이터 타입 : ', type(10), type(10.4))
print('불리언의 데이터 타입 : ', type(True))

문자열의 데이터 타입 :  <class 'str'>
숫자의 데이터 타입 :  <class 'int'> <class 'float'>
불리언의 데이터 타입 :  <class 'bool'>

In [24]:
print('" 안녕하세요 !! "') # 문자열은 " "또는' '

" 안녕하세요 !! "

In [25]:
# 이스케이프 문자를 활용하여 문자열 만들기 : \"" -> 일반 문자 "  "
# \t : 탭, \n : 뉴라인
print("\" 안녕하세요 !! \"")
print("\\ \\ \\")

" 안녕하세요 !! "
\ \ \

In [27]:
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("윤아린\t24\t강서구")
print("구름\t23\t강서구")

이름	나이	지역
윤인성	25	강서구
윤아린	24	강서구
구름	23	강서구

In [34]:
# 여러 라인의 문자를 출력하기
print("1라인\n2라인")
print()
print("""1라인
2라인""")

1라인
2라인

1라인
2라인

In [37]:
# 명령어가 1라인 이상으로 길어질 때 \
print("\" 안녕하세요 !! \"                 \
")

" 안녕하세요 !! "

In [39]:
# 문자열 연산자, 문자열 자르기, 문자열 길이 구하기
# 문자열 + 문자열 : 이어 붙히기
# 문자열 * 문자열 : 문자열을 숫자만큼 반복

In [45]:
print("안녕"+"하세요")
print("안녕하세요"+"!")

안녕하세요
안녕하세요!

In [61]:
print("안녕하세요" * 3)
print(3 * "안녕하세요")
print("안녕하세요 " * 3)
print(3 * "안녕하세요 ")

안녕하세요안녕하세요안녕하세요
안녕하세요안녕하세요안녕하세요
안녕하세요 안녕하세요 안녕하세요
안녕하세요 안녕하세요 안녕하세요

In [64]:
# 문자열 자르기 : 문자열[시작인덱스 : 마지막 인덱스]
# 시작은 포함 마지막은 포함하지 않음
hello = '안녕하세요'

# 전체 문자열의 길이를 구하는 함수 : len(hello)
print(len(hello))

# 처음 문자와 마지막 문자 출력
print(hello[0], hello[-1])

#처음부터 두 글자만 출력
print(hello[ :2])

# 두번째 문자와 3번째 문자 출력
print(hello[1:3])

# 세번째 문자부터 끝까지 출력
print(hello[3: ])

5
안 요
안녕
녕하
세요

In [73]:
# 문자열의 거리를 구해서 마지막 문자 출력
print(hello[len(hello) - 1])

요

## 02. 숫자

In [77]:
# +, *, *, /, //(몫), %(나머지), ** (거듭제곱)
print('3' + 'test') # ok
print(3 + 'test') # error -> 같은 데이터 타입만 가능!

3test

TypeError: unsupported operand type(s) for +: 'int' and 'str'

 ### 3. 변수의 활용

In [87]:
var_a = 10
var_a

var_b = 20
var_b
# jupyter notebook에서는 마지막 값만 보임

20

In [86]:
var_a + var_b

30

In [89]:
print(var_a, var_b)
hello

10 20

'안녕하세요'

In [95]:
var_a = 'str variable'
var_a
# python 에서는 변수에 숫자를 넣었다 글자를 넣었다 마음대로 변경 가능
# C언어, java 에서는 불가능. 그렇기에 덮어 씌워질 수 있으므로 주의요망

'str variable'

In [97]:
# 변수 선언과 할당
pi = 3.14159265
r = 10

# 변수  참조
print("원주율 =", pi)
print("반지름=", r)
print("원의 둘레=", 2 * pi * r) #원의 둘레
print("원의 넓이=", pi * r * r) #원의 넓이

원주율 = 3.14159265
반지름= 10
원의 둘레= 62.831853
원의 넓이= 314.159265

In [116]:
# 복합 대입 연산자
a = 10
a += 10 
print(a) # a -> 20
a *= 10
print(a) # a -> 200
a /= 15
print(a) # a -> 13.333.....

# 문자열 복합 대입 연산자
a_str = 'test'
a_str += '!!'
print(a_str)

a_str *= 2
print(a_str)

20
200
13.333333333333334
test!!
test!!test!!

In [126]:
# input() -> 사용자가 입력하는 함수
input_str = input("문자입력")
input_str

문자입력hello python

'hello python'

In [128]:
type(input_str)

str

In [132]:
# 숫자를 입력해서 변수에 저장 후 변수의 데이터타입을 확인해 보세요
bingo = input()
bingo

3

'3'

In [133]:
type(bingo)

str

In [145]:
# ex
input_data = input("숫자입력 : ")
type(input_data)

숫자입력 : 34.78

str

In [146]:
# 데이터 타입 변경 : 문자를 숫자로 -> int(), float()
# 숫자를 문자로 -> str()
input_data = float(input_data)
type(input_data)

float

In [147]:
# 두 수를 입력 받아 두 수의 합과 곱을 구하세요
# 1. 숫자 두 개를 입력 받음
# 2. 입력 받은 두 수를 int로 형 변환
# 3. 두 수의 합과 곱을 구함

In [148]:
input_a = input()

1

In [149]:
input_b = input()

2

In [159]:
input_a = int(input_a)
input_b = int(input_b)
type(input_a)
type(input_b)

print(input_a + input_b)
print(input_a * input_b)

3
2

In [165]:
input_a = int(input("처음 숫자 입력 : "))
input_b = int(input("두번째 숫자 입력 : "))

print(input_a, " + ", input_b , " = ", input_a + input_b)
print(input_a, " * ", input_b , " = ", input_a * input_b)

처음 숫자 입력 : 1
두번째 숫자 입력 : 2
1  +  2  =  3
1  *  2  =  2

### 4.숫자와 문자열의 다양한 기능

In [180]:
# 문자열.format()
"{} {}".format(10,'str')
print("{} + {} = {}".format(input_a, input_b, input_a + input_b))

1 + 2 = 3

In [185]:
"{} 소수 {} ".format(3.45, 'float')

'3.45 소수 float '

In [190]:
"{} 소수 {} {}".format(3.45, 'float', 34, 56)

'3.45 소수 float 34'

In [191]:
# 정수 출력에서 format()함수 활용
print("{}".format(52))
print("{:d}".format(52))
print("{:5d}".format(52))
print("{:05d}".format(52))

52
52

In [195]:
# 기호와 함께 출력
print("{:+5d}".format(52)) # 부호와 함께 표현
print("{:+5d}".format(-52))

print("{:=+5d}".format(52)) # 부호를 앞으로 밀기
print("{:=+5d}".format(-52))

print("{:5.2f}".format(52.34465)) # 소수점 미만 두자리까지만 표현
print("{:10f}".format(52.34465)) # 실수 표현

print("{:g}".format(52.0)) # 의미없는 소수점 미만 자료 버리기

  +52
  -52
+  52
-  52
52.34
 52.344650
52

In [197]:
# 두 개의 숫자를 입력 받아 두 수의 합과 곱, 차 , 나머지 값을
# 다음의 형식으로 출력
# 1. 입력 받은 두 수는 10, 20
# 2. 입력 받은 두 수 10과 20의 합은 30
# 3. 입력 받은 두 수 10과 20의 곱은 200
# 4. 입력 받은 두 수 10과 20의 차는 -10
# 5. 입력 받은 두 수 10과 20의 나눈 나머지는

In [209]:
#1
input_a = int(input("첫번째 숫자입력 :"))
input_b = int(input("두번째 숫자 입력 :"))
prt_str = '입력 받은 두 수'
print("{}는 {}, {}".format(prt_str, input_a, input_b))

첫번째 숫자입력 :10
두번째 숫자 입력 :20
입력 받은 두 수는 10, 20

In [216]:
#2
print("{} {}와 {}의 합은 {}".format(prt_str, input_a, input_b,
                                input_a + input_b))

입력 받은 두 수 10와 20의 합은 30

In [219]:
#3
print("{} {}과 {}의 곱은 {}".format(prt_str, input_a, input_b,
                               input_a * input_b))

입력 받은 두 수 10과 20의 곱은 200

In [222]:
#4
print("{} {}과 {}의 차는 {}".format(prt_str, input_a, input_b,
                               input_a - input_b))

입력 받은 두 수 10과 20의 차는 -10

In [223]:
#5
print("{} {}과 {}의 나눈 나머지는 {}".format(prt_str, input_a, input_b,
                               input_a % input_b))

입력 받은 두 수 10과 20의 나눈 나머지는 10

In [224]:
#1 입력 받은 두 수는 10과 20
input_a = int(input("첫번째 숫자입력 :"))
input_b = int(input("두번째 숫자 입력 :"))
prt_str = '입력 받은 두 수'
print("{}는 {}, {}".format(prt_str, input_a, input_b))

#2 입력 받은 두 수 10과 20의 합은 30
print("{} {}와 {}의 합은 {}".format(prt_str, input_a, input_b,
                                input_a + input_b))

#3 입력 받은 두 수 10과 20의 곱은 200
print("{} {}과 {}의 곱은 {}".format(prt_str, input_a, input_b,
                               input_a * input_b))

#4 입력 받은 두 수 10과 20의 차는 -10
print("{} {}과 {}의 차는 {}".format(prt_str, input_a, input_b,
                               input_a - input_b))

#5 입력 받은 두 수 10과 20의 나눈 나머지 값은
print("{} {}과 {}의 나눈 나머지는 {}".format(prt_str, input_a, input_b,
                               input_a % input_b))

첫번째 숫자입력 :10
두번째 숫자 입력 :20
입력 받은 두 수는 10, 20
입력 받은 두 수 10와 20의 합은 30
입력 받은 두 수 10과 20의 곱은 200
입력 받은 두 수 10과 20의 차는 -10
입력 받은 두 수 10과 20의 나눈 나머지는 10